In [12]:
import pandas as pd
import os

In [13]:
df = pd.DataFrame()
for f in os.listdir('../CSV_Spy'):
    df = pd.concat([df, pd.read_csv('../CSV_Spy/'+f)])
    
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19624 entries, 0 to 2739
Data columns (total 10 columns):
#                                    19624 non-null int64
Game                                 19618 non-null object
Release date                         19569 non-null object
Price                                19281 non-null object
Score rank(Userscore / Metascore)    19623 non-null object
Owners                               19623 non-null object
Playtime (Median)                    19623 non-null object
Developer(s)                         19536 non-null object
Publisher(s)                         19479 non-null object
Genre                                19624 non-null object
dtypes: int64(1), object(9)
memory usage: 1.6+ MB

In [14]:
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19624 entries, 0 to 2739
Data columns (total 10 columns):
#                                    19624 non-null int64
Game                                 19618 non-null object
Release date                         19569 non-null object
Price                                19281 non-null object
Score rank(Userscore / Metascore)    19623 non-null object
Owners                               19623 non-null object
Playtime (Median)                    19623 non-null object
Developer(s)                         19536 non-null object
Publisher(s)                         19479 non-null object
Genre                                19624 non-null object
dtypes: int64(1), object(9)
memory usage: 1.6+ MB

In [15]:
df.head()

,#,Game,Release date,Price,Score rank(Userscore / Metascore),Owners,Playtime (Median),Developer(s),Publisher(s),Genre
0,6657,Unturned,07/07/17,Free,77% (91%),"33,517,329 ±181,569",20:54 (02:32),Smartly Dressed Games,Smartly Dressed Games,Adventure
1,5587,PLAYERUNKNOWN'S BATTLEGROUNDS,23/03/17,$29.99,15% (59%),"25,460,586 ±159,631",145:58 (89:47),PUBG Corporation,PUBG Corporation,Adventure
2,107,Terraria,"May 16, 2011",$9.99,97% (97%/83%),"9,555,819 ±99,444",82:43 (24:32),Re-Logic,Re-Logic,Adventure
3,2775,Trove,09/07/15,Free,40% (77%),"8,981,775 ±96,468",20:27 (01:55),Trion Worlds,Trion Worlds,Adventure
4,1,Grand Theft Auto V,"Apr 13, 2015",$29.99,24% (67%/96%),"8,881,414 ±95,938",126:28 (66:12),Rockstar North,Rockstar Games,Adventure

In [16]:
df.to_csv('../games_spy.csv', index=False)

In [18]:
df = pd.read_csv('../games_spy.csv', parse_dates=['Release date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19624 entries, 0 to 19623
Data columns (total 10 columns):
#                                    19624 non-null int64
Game                                 19618 non-null object
Release date                         19624 non-null object
Price                                19281 non-null object
Score rank(Userscore / Metascore)    19623 non-null object
Owners                               19623 non-null object
Playtime (Median)                    19623 non-null object
Developer(s)                         19536 non-null object
Publisher(s)                         19479 non-null object
Genre                                19624 non-null object
dtypes: int64(1), object(9)
memory usage: 1.5+ MB

In [25]:
def parse_price(x):
    try:
        return float(x.replace('$', ''))
    except:
        return 0

In [45]:
def parse_score(x):
    try:
        if type(x) == float:
            return x
        else:
            return float(x.split('%')[0])
    except:
        return 0

In [49]:
def parse_user_score(x):
    try:
        return float(x.split('(')[1].split('%')[0])
    except:
        return 0

In [52]:
def parse_meta_score(x):
    try:
        return float(x.split('/')[1].split('%')[0])
    except:
        return 0

In [56]:
def parse_owners(x):
    try:
        return int(str(x).split('±')[0].replace(',',''))
    except:
        return 0

In [72]:
def parse_median_playtime(x):
    try:
        m = x.split('(')[1].split(')')[0]
        hours = float(m.split(':')[0])
        mins = float(m.split(':')[1])
        return hours + mins / 60
    except:
        return 0

In [73]:
def parse_playtime(x):
    try:
        hours = float(x.split('(')[0].split(':')[0])
        mins = float(x.split('(')[0].split(':')[1])
        return hours + mins / 60
    except:
        return 0

In [85]:
from datetime import datetime
def parse_date(x):
    try:
        return datetime.strptime(x, '%d/%m/%y')
    except:
        try:
            return datetime.strptime(x, '%b %d, %Y')
        except:
            return None

In [86]:
#df2 = pd.DataFrame(columns=['game', 'release_date', 'price', 'score', 'userscore', 'metascore', 'playtime', 'median_playtime', 'developer', 'publisher', 'genre'])
df2 = pd.DataFrame()
df2['game'] = df.Game
df2['release_date'] = df['Release date'].apply(parse_date)
df2['price'] = df.Price.apply(parse_price)
df2['score'] = df['Score rank(Userscore / Metascore)'].apply(parse_score)
df2['userscore'] = df['Score rank(Userscore / Metascore)'].apply(parse_user_score)
df2['metascore'] = df['Score rank(Userscore / Metascore)'].apply(parse_meta_score)
df2['owners'] = df.Owners.apply(parse_owners)
df2['playtime'] = df['Playtime (Median)'].apply(parse_playtime)
df2['median_playtime'] = df['Playtime (Median)'].apply(parse_median_playtime)
df2['developer'] = df['Developer(s)']
df2['publisher'] = df['Publisher(s)']
df2['genre'] = df['Genre']
df2.head()

,game,release_date,price,score,userscore,metascore,owners,playtime,median_playtime,developer,publisher,genre
0,Unturned,2017-07-07,0.00,77.0,91.0,0.0,33517329,20.900000,2.533333,Smartly Dressed Games,Smartly Dressed Games,Adventure
1,PLAYERUNKNOWN'S BATTLEGROUNDS,2017-03-23,29.99,15.0,59.0,0.0,25460586,145.966667,89.783333,PUBG Corporation,PUBG Corporation,Adventure
2,Terraria,2011-05-16,9.99,97.0,97.0,83.0,9555819,82.716667,24.533333,Re-Logic,Re-Logic,Adventure
3,Trove,2015-07-09,0.00,40.0,77.0,0.0,8981775,20.450000,1.916667,Trion Worlds,Trion Worlds,Adventure
4,Grand Theft Auto V,2015-04-13,29.99,24.0,67.0,96.0,8881414,126.466667,66.200000,Rockstar North,Rockstar Games,Adventure

In [87]:
df2.to_csv('../games_spy2.csv', index=False)